.card {
  border: 0px !important;
  border-radius: 5px !important;
  box-shadow: 0 0 30px 0 rgba(110, 110, 110, 0.17) !important;
  background-color: #ffffff !important;
}

.card-header {
  background-color: #ffffff !important;
}

.card-accent {
  border-left-color: blue !important;
  border-left: 2px !important;
}
