// Here you can add other styles

.main {
  background-color: #ffffff !important;
  padding-left: 1rem;
}

input[class=form-control] {
  border: none;
  border-bottom: 1px solid #c3c3c3;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  border-radius: 4em !important;
  font-family: 'Ubuntu', sans-serif !important;
  color: #ffffff !important;

  &:hover {
    background-color: darken($primary-color, 15%) !important;
    border-color: darken($primary-color, 15%) !important;
  }
  
}

.btn-secondary {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
  border-radius: 4em !important;
  font-family: 'Ubuntu', sans-serif;

  color: #ffffff !important;

  &:hover {
    background-color: darken(#c3c3c3, 15%);
    border-color: darken(#c3c3c3, 15%);
  }
}

.avenir-black-primary {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold !important;
  color: $primary-color;
}

.modal-body {
  padding: 1.5rem 3rem !important;
}

.modal-header {
  padding: 0.5rem 1rem !important;

  .close {
    padding: 1.25rem 1.5rem 1rem 1rem !important;
  }
}

.close {
  // color: $primary-color !important;
  opacity: 1 !important;
  font-size: 1.75rem !important;
}

.table {
  margin-bottom: 0 !important;
}

@import "sidebar";
@import "card";
@import "login";
